./realdata
/realdata
discord_training_data.json
/fine_tuned_model
./fine_tuned_model
/results
./results
./node_modules
/node_modules
node_modules
/discord_model
./discord_model
discord_model
.env
/discord_finetuned_model
./discord_finetuned_model
discord_finetuned_model
ross_model
/ross_model
ross_finetuned_model
/ross_finetuned_model